<form [formGroup]="formRegister" (submit)="register()">
    <div class="container-register">
        <div class="container-image">
            <img src="../../../../assets/images/login.webp" alt="Registration Image">
        </div>
        <div class="container-form">
            <div class="container-data">
                <label for="name">First Name</label>
                <input formControlName="name" type="text" class="name" name="name" autocomplete="off" placeholder="Enter your name">
            </div>
            <div class="container-data">
                <label for="lastname">Last Name</label>
                <input formControlName="lastname" type="text" class="lastname" name="lastname" autocomplete="off" placeholder="Enter your last name">
            </div>
            <div class="container-data">
                <label for="username">Username</label>
                <input formControlName="username" type="text" class="username" name="username" autocomplete="off" placeholder="Enter your username">
            </div>
            <div class="container-data">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="password" name="password" placeholder="Enter your password">
            </div>
            <div class="container-data full-width">
                <label for="email">Email</label>
                <input formControlName="email" type="text" class="email" name="email" autocomplete="off" placeholder="Enter your email">
            </div>
            <div class="container-button">
                <button type="submit">Join Now</button>
            </div>
        </div>
    </div>
</form>
