<div class="flex-container">
    <div class="flex-title-chat">
        <label>Contactos</label>
        <div class="flex-config-chat">
            <ul class="flex-items">
                <li class="item">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </li>
                <li class="item">
                    <fa-icon [icon]="faEllipsis"></fa-icon>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-friends">
        @for (user of userPage; track $index) {
        <div class="flex-friend" (click)="openChat()">
            <div class="custom-badge" matBadge="." matBadgeSize="small" matBadgePosition="below after">
                <img [src]="'../../../../assets/images/user_' + user.id + '.jpg'" alt="User image">
            </div>
            <label for="">{{ user.username }}</label>
        </div>
        }
    </div>
</div>