<div class="flex-container">
    <div class="flex-title-chat">
        <label>Contactos</label>
        <div class="flex-config-chat">
            <ul class="flex-items">
                <li class="item">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </li>
                <li class="item">
                    <fa-icon [icon]="faEllipsis"></fa-icon>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-friends">
        <div class="flex-friend" (click)="openChat()">
            <div class="custom-badge" matBadge="." matBadgeSize="small" matBadgePosition="below after">
                <img src="../../../../assets/images/john-cena.jpg" alt="">
            </div>
            <label for="">John Cena</label>
        </div>
        <div class="flex-friend" (click)="openChat()">
            <div class="custom-badge" matBadge="." matBadgeSize="small" matBadgePosition="below after">
                <img src="../../../../assets/images/carlota.jpg" alt="">
            </div>
            <label for="">La Carlota</label>
        </div>
        <div class="flex-friend" (click)="openChat()">
            <div class="custom-badge" matBadge="." matBadgeSize="small" matBadgePosition="below after">
                <img src="../../../../assets/images/melcochita.png" alt="">
            </div>
            <label for="">Melcochita</label>
        </div>
        <div class="flex-friend" (click)="openChat()">
            <div class="custom-badge" matBadge="." matBadgeSize="small" matBadgePosition="below after">
                <img src="../../../../assets/images/nicola_porcella.jpg" alt="">
            </div>
            <label for="">Nicola Porcella</label>
        </div>
        <div class="flex-friend" (click)="openChat()">
            <div class="custom-badge" matBadge="." matBadgeSize="small" matBadgePosition="below after">
                <img src="../../../../assets/images/sullysaenz.jpg" alt="">
            </div>
            <label for="">Sully Saenz</label>
        </div>
    </div>
</div>