.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside body body"
        "footer footer footer";
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: auto 2fr auto;
    min-height: 100vh;
}

.area-header {
    grid-area: header;
    background-color: white;
}

.area-aside {
    grid-area: aside;
    background-color: #F2F4F7;
}

.area-body {
    grid-area: body;
    background-color: #F2F4F7;
}

.area-footer {
    grid-area: footer;
    background-color: white;
}

@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "header header header"
            "body body body";
        grid-template-columns: 1fr 4fr 4fr;
        grid-template-rows: auto 2fr;
        min-height: 100vh;
    }

    .area-footer {
        display: none;
    }

}