<header>
    <nav class="grid-nav-container">
        <ul class="items-left">
            <li class="item" (click)="openHome()">
                <fa-icon class="logo" [icon]="faCode"></fa-icon>
            </li>
            <li class="item">
                <input type="text" class="search" name="search" autocomplete="off" placeholder="Search">
            </li>
        </ul>
        <ul class="items-center">
            <li class="item">
                <fa-icon [icon]="faHome"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faUserGroup"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faVideo"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faShop"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faPeopleGroup"></fa-icon>
            </li>
        </ul>
        <ul class="items-right">
            <li class="item">
                <fa-icon [icon]="faConfig"></fa-icon>
            </li>
            <li class="item" (click)="openChat()">
                <fa-icon [icon]="faMessage"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faBell"></fa-icon>
            </li>
            <li class="item user">
                <fa-icon [icon]="faUser" [matMenuTriggerFor]="afterMenu"></fa-icon>
                <mat-menu #afterMenu="matMenu" xPosition="after">
                    <button mat-menu-item (click)="logOut()">
                        <div class="item-singout">
                            <fa-icon [icon]="faClose"></fa-icon>
                            <label for="">Log Out</label>
                        </div>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </nav>
</header>