<header>
    <nav class="grid-nav-container">
        <ul class="items-left">
            <li class="item">
                <i class="devicon-angular-plain logo"></i>
            </li>
            <li class="item">
                <input type="text" class="search" name="search" autocomplete="off" placeholder="Search">
            </li>
        </ul>
        <ul class="items-center">
            <li class="item">
                <fa-icon [icon]="faHome"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faUserGroup"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faVideo"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faShop"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faPeopleGroup"></fa-icon>
            </li>
        </ul>
        <ul class="items-right">
            <li class="item">
                <fa-icon [icon]="faConfig"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faMessage"></fa-icon>
            </li>
            <li class="item">
                <fa-icon [icon]="faBell"></fa-icon>
            </li>
            <li class="item user">
                <fa-icon [icon]="faUser"></fa-icon>
            </li>
        </ul>
    </nav>
</header>