<div class="container-flex">
    <div class="container-title">
        <div class="title-label">
            <label for="">Chats</label>
        </div>
        <div class="action-icons">
            <div class="icon">
                <fa-icon [icon]="faEllipsis"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon [icon]="faMaximize"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </div>
        </div>
    </div>
    <div class="search">
        <input type="text" class="search" name="search" autocomplete="off" placeholder="Search">
    </div>
    <div class="type-chat">
        <div class="chat">
            <button type="button" class="active">
                Private
            </button>
        </div>
        <div class="chat">
            <button type="button">
                Group
            </button>
        </div>
    </div>
    <div class="chat-message">
        @for (item of chats; track $index) {
        <div class="profile" [class.profile-message-active]="!item.message.seen">
            <img [src]="'../../../../assets/images/user_' + item.chat.chatMembers[0].user.id + '.jpg'" alt="User image">
            <div class="messages">
                <div class="user">
                    <label for="" class="username">{{item.chat.name}}</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">{{item.message.content}}</p>
                    <span>{{item.messageTime}}</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>