@if (notificationsVisible) {
<div class="container-flex">
    <div class="container-title">
        <div class="title-label">
            <label for="">Chats</label>
        </div>
        <div class="action-icons">
            <div class="icon">
                <fa-icon [icon]="faEllipsis"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon [icon]="faMaximize"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </div>
        </div>
    </div>
    <div class="search">
        <input type="text" class="search" name="search" autocomplete="off" placeholder="Search">
    </div>
    <div class="type-chat">
        <div class="chat">
            <button type="button" class="active">
                Private
            </button>
        </div>
        <div class="chat">
            <button type="button">
                Group
            </button>
        </div>
    </div>
    <div class="chat-message">
        <div class="profile">
            <img src="../../../../assets/images/user_5.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">Nicola Porcella</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum at esse
                        nemo totam amet, praesentium eum iusto odio, distinctio placeat doloremque dignissimos? Non
                        ducimus cum a hic assumenda error debitis?</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../../assets/images/user_2.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">John Cena</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis eos
                        quidem magni ad. Fugit nisi, nihil velit, quidem, natus nostrum incidunt et ad nam beatae in
                        magnam ea aliquid mollitia.</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../../assets/images/user_1.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">La Carlota</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse dolorum quos
                        eaque, alias, ipsa a, architecto libero laboriosam facilis incidunt nam doloremque tempore.
                        Possimus repellendus veritatis iure quam cumque sed!</p>
                </div>
            </div>
        </div>

        <div class="profile">
            <img src="../../../../assets/images/user_5.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">Nicola Porcella</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum at esse
                        nemo totam amet, praesentium eum iusto odio, distinctio placeat doloremque dignissimos? Non
                        ducimus cum a hic assumenda error debitis?</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../../assets/images/user_1.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">La Carlota</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse dolorum quos
                        eaque, alias, ipsa a, architecto libero laboriosam facilis incidunt nam doloremque tempore.
                        Possimus repellendus veritatis iure quam cumque sed!</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../../assets/images/user_2.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">John Cena</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis eos
                        quidem magni ad. Fugit nisi, nihil velit, quidem, natus nostrum incidunt et ad nam beatae in
                        magnam ea aliquid mollitia.</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="../../../../assets/images/user_1.jpg" alt="">
            <div class="messages">
                <div class="user">
                    <label for="">La Carlota</label>
                </div>
                <div class="message">
                    <p class="text-ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse dolorum quos
                        eaque, alias, ipsa a, architecto libero laboriosam facilis incidunt nam doloremque tempore.
                        Possimus repellendus veritatis iure quam cumque sed!</p>
                </div>
            </div>
        </div>
    </div>
</div>
}