<div class="container-flex">
    <div class="container-title">
        <div class="title-label">
            <label for="">Chats</label>
        </div>
        <div class="action-icons">
            <div class="icon">
                <fa-icon [icon]="faEllipsis"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon [icon]="faMaximize"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </div>
        </div>
    </div>
    <div class="search">
        <input type="text" class="search" name="search" autocomplete="off" placeholder="Search">
    </div>
    <div class="type-chat">
        <div class="chat">
            <button type="button" class="active">
                Private
            </button>
        </div>
        <div class="chat">
            <button type="button">
                Group
            </button>
        </div>
    </div>

    @for (item of chats; track $index) {
    <div class="grid-chat" (click)="openChat(item.chat.chatMembers[0].user.id)">
        <div class="area-profile">
            <img [src]="'../../../../assets/images/user_' + item.chat.chatMembers[0].user.id + '.jpg'" alt="User image">
        </div>
        <div class="area-name">
            <label for="" class="username">{{item.chat.name}}</label>
        </div>
        <div class="area-message">
            <p class="text-ellipsis">{{item.message.content}}</p>
        </div>
        <div class="area-timeago">
            <label for=""><span class="icon-bell" [class.icon-bell-active]="!item.message.seen"><fa-icon [icon]="faBell"></fa-icon></span>
                {{item.messageTime}}</label>
        </div>
    </div>
    }
</div>