<div class="flex-container">
    <div class="flex-container-title">
        <div class="flex-user">
            <img src="../../../../assets/images/nicola_porcella.jpg" alt="">
            <label for="">Nicola Porcella</label>
        </div>
        <div class="container-action">
            <ul class="flex-item-action">
                <li class="item">
                    <fa-icon [icon]="faPhone"></fa-icon>
                </li>
                <li class="item">
                    <fa-icon [icon]="faVideo"></fa-icon>
                </li>
                <li class="item">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-container-content">
        <div class="message-left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut harum quod quae. Sed, exercitationem atque.
                Repellendus, animi excepturi. Porro molestias, sed reprehenderit sint assumenda hic cum officia tenetur
                eius qui.
                Error ducimus placeat, vel eius iste itaque natus reiciendis doloribus molestias, quidem aliquam nam
                dolorum? Reiciendis suscipit numquam distinctio earum laborum nemo qui, temporibus, officia praesentium
                possimus quis blanditiis aliquam?
                Libero laudantium aspernatur optio quidem iure eum quae. Ratione, delectus. Placeat ducimus explicabo,
                mollitia quis adipisci veniam itaque dolorum quaerat velit sit natus asperiores. Itaque iste quibusdam
                commodi numquam architecto!
                Perspiciatis accusantium quos neque ducimus illum molestiae, exercitationem reiciendis blanditiis,
                voluptate sit veritatis facilis minus pariatur autem placeat quia ipsa modi, nam praesentium molestias
                iure dignissimos! Quam unde consectetur quas?
                Fuga quis, facere totam repudiandae quos debitis nemo ex cum ut mollitia. Veniam sequi cupiditate at
                esse est nulla distinctio quisquam aliquam quos necessitatibus! Obcaecati tempora incidunt id sunt!
                Vero.</p>
        </div>
        <div class="message-right">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem beatae, iste quis deserunt
                distinctio vel in nisi fuga assumenda illum obcaecati molestias reprehenderit ab cupiditate, id qui
                saepe? Saepe, praesentium.
                Nesciunt sequi possimus quae minima aspernatur optio quidem molestias fugit facere minus alias, dolore
                doloremque aliquid maiores eius corrupti enim iusto exercitationem maxime a, voluptatum fuga, amet nemo
                vel. Exercitationem?</p>
        </div>
        <div class="message-left">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus nobis doloribus minus
                tempora esse fugiat aspernatur officia nesciunt beatae in consequatur obcaecati labore, id, laudantium
                iusto temporibus tempore blanditiis.</p>
        </div>
        <div class="message-right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae sunt repellendus recusandae
                accusantium aperiam officiis animi consequatur ipsum ab? Fugit delectus doloribus quia laboriosam est,
                ea iure sunt minima.</p>
        </div>
        <div class="message-right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae sunt repellendus recusandae
                accusantium .</p>
        </div>
        <div class="message-right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae sunt repellendus recusandae
                accusantium apinima.</p>
        </div>
        <div class="message-left">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus nobis doloribus minus
                tempora esse fugiat aspernatur officia nesciunt beatae in consequatur obcaecati labore, id, laudantium
                iusto temporibus tempore blanditiis.</p>
        </div>
    </div>
    <div class="flex-container-message">
        <fa-icon [icon]="faImage"></fa-icon>
        <fa-icon [icon]="faMicrophone"></fa-icon>
        <input type="text" class="message" name="message" autocomplete="off" placeholder="Search">
        <fa-icon [icon]="faPaperPlane"></fa-icon>
    </div>
</div>