<div class="flex-container">
    <div class="flex-container-title">
        <div class="flex-user">
            <img [src]="'../../../../assets/images/user_' + userDestinationId + '.jpg'" alt="User image">
            <label for="">{{user?.username}}</label>
        </div>
        <div class="container-action">
            <ul class="flex-item-action">
                <li class="item">
                    <fa-icon [icon]="faPhone"></fa-icon>
                </li>
                <li class="item">
                    <fa-icon [icon]="faVideo"></fa-icon>
                </li>
                <li class="item">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-container-content" #messageContainer>
        @for (item of messageList; track $index) {
        <div
            [ngClass]="{'message-left': item.messageSide === 'receiver', 'message-right': item.messageSide === 'sender'}">
            <p>{{item.content}}</p>
        </div>
        }
    </div>
    <div class="flex-container-message">
        <fa-icon [icon]="faImage"></fa-icon>
        <fa-icon [icon]="faMicrophone"></fa-icon>
        <input type="text" class="message" name="message" autocomplete="off" placeholder="Message..."
            [(ngModel)]="messageInput" (keydown.enter)="sendMessage()">
        <div class="send" (click)="sendMessage()">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
        </div>
    </div>
</div>