.container-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#50BBBB, #aff8f8);
    height: 100vh;
}

@media (max-width: 768px) {
    .container-layout {
        align-items: flex-start;
        padding-top: 2rem;
    }
}